iframe width="560" height="315" src="https://www.youtube.com/embed/live_stream?channel=#{@store.youtube_channel_id}" frameborder="0" allowfullscreen
.row
  .col-md-6 = link_to('Live Room', store_live_room_path(store: @stoer, live_room: @store.live_room))
